.padding-top-2{
    padding-top: 2rem;
}
:root{
--purple_color: #6f42c1;
--orange_color: #fd7e14;
--green_color: #4caf50;
--blue_color: #2196f3;
--red_color:#f44336;
}

.red-color{
    color: #f44336;
}
.purple-color{
    color: #6f42c1;
}
.orange-color{
    color:#fd7e14 ;
}
.green-color{
    color:#4caf50 ;
}
.blue-color{
    color: #2196f3;
}

